html{
  display: block;
}
body{
  margin: 0;
  font-family: "helvetica", "sans-serif";
  color: seashell;
  background-color: black;
  font-size: 22px;
  text-align: center;
  display: block;
}
header{
  width: 100%;
  position: fixed;
}
header img{
  height: 50px;
  padding-left: 10px;
}
